extends layout/baseAuth.pug
block content
    .circle
        figure.circle__letter
        .ready
            p.ready__go
                | You are almost ready to go!
            span
                | Please check your email to activate your account