extends layout/baseAuth.pug
block content
     article.auth
        div.container
            h1.auth__text Sign up
            form.auth__form(action="/register", method="post")
                div.auth__name
                    input.name(type="text", placeholder="First name" name="firstName")
                    input.name(type="text", placeholder="Last name" name="lastName")
                input.username(type="text" name="username",placeholder="Username")
                input.password(type="email" name="email",placeholder="E-mail")
                div.auth__submit
                    button(type="submit") Get started