<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    style
  body
    ul
      li
        a(href="/login")
          | Page sign in
      li
        a(href="/register")
          | Page sign up
      li
        a(href="/complete")
          | Page complete
      li
        a(href="/ready")
          | Page ready
      li
        a(href="/email")
          | Page E-mail
      li
        a(href="/profile")
          | Page profile
      li
        a(href="/profile/chat")
          | Chat profile (I don't know why a get 404 stylesheet error)